body {
  margin: 0;
  padding: 0;
}
* {
  font-family: acumin-pro, "“Helvetica Neue”", Helvetica, Arial, sans-serif;
}
.header {
  background: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: left;
  z-index: 1000;
}
#expand {
  position: relative;
  right: 0;
  float: right;
}
.expander {
  min-width: 100%;
  background: black;
  height: 100%;
  padding-top: 250px;
  width: 50%;
  z-index: 50;
  padding-left: 20px;
  position: absolute;
}
#imgg {
  padding: 30px 0 10px 50px;
}
#imgg > img {
  margin: 10px 20px;
}
.expander {
  margin-top: 19%;
  height: 100vh;
  transform: translateX(100%);
  transition: all 1s;
}
.expander > div {
  width: 90%;
}
.expander > div > hr {
  height: 1px;
  color: white;
}
.expander > div > p {
  font-size: 3em;
  color: white;
}
#expand:hover + .expander {
  transform: translateX(0);
}
.header > h1 {
  font-size: 2.5em;
  margin-top: 80px;
  margin-bottom: 0px;
  width: 60%;
  margin-right: auto;
  margin-left: 5px;
  padding-bottom: 0;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}
.header > img {
  margin: 60px 60px 30px 0px;
}
#logo {
  margin-top: 70px;
  margin-right: 0px;
  margin-left: 50px;
  margin-bottom: 20px;
}
#bucket {
  margin-top: 40px;
  padding: 30px;
  background: #f2f2f2;
}
.banner {
  padding-top: 10px;
  background: url("pic1.jpg") no-repeat;
  background-size: cover;
  height: 100%;
}
#text {
  position: relative;
  top: -210%;
  padding-left: 100px;
}
#one,
#two {
  visibility: hidden;
}
.btn {
  position: relative;
  font-size: 2.3rem;
  font-weight: 600;
  background: red;
  margin: 1em 1.6em;
  margin-left: 30%;
  padding: 1em 2.63em;
  color: white;
}
.btnnav {
  display: none;
}
.container {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container > div {
  margin: 3em 3em 0em 3em;
  height: 25%;
}
#first {
  background: url("https://images.ctfassets.net/axbo81ontyws/1xEJ2i6tYQ2wkcGEO2wsuO/cc5697ecf58cd55d4e95fc6ac0e8134b/time-mag-homepage.jpg")
    no-repeat;
  background-clip: border-box;
  background-position: -100px, 2px;
}

#second {
  background: url("pic3.jpg") no-repeat;
  background-clip: border-box;
  background-size: cover;
}
#third {
  background: url("pic4.jpg") no-repeat;
  background-clip: border-box;
  background-size: cover;
}
div h2 {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}
.third {
  background: #f2f2f2;
}
h4 {
  background: #f2f2f2;
}
.third h1 {
  font-family: acumin-pro-extra-condensed, "“Helvetica Neue”", Helvetica, Arial,
    sans-serif;
  color: rgb(34, 34, 34);
  text-align: left;
  font-weight: 600;
  line-height: 1.06;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  width: 90%;
  font-size: 5em;
  margin-left: 50px;
}
hr {
  background: red;
  width: 15%;
  height: 20px;
  margin-left: 50px;
  animation: mov 5s ease-in-out 1s infinite;
}
@keyframes mov {
  50% {
    margin-left: 400px;
  }
  100% {
    margin-left: 50px;
  }
}
p {
  padding-left: 50px;
  padding-right: 100px;
  margin-bottom: 0;

  color: rgb(34, 34, 34);
  text-align: left;
  font-weight: 400;
  line-height: 1.55;
  font-size: 1rem;
}
.forth {
  width: 100%;
  background: #f2f2f2;
}
.forth > div {
  padding: 2% 10%;
  width: 80%;

  text-align: center;
}
.forth > div > h1 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
h4 {
  padding: 20%;
  padding-bottom: 0;
  margin: 0;
  color: rgb(34, 34, 34);
  font-weight: 600;
  line-height: 1.32;
  font-size: 1.25rem;
  text-align: center;
}

.forth > div > p {
  font-weight: 400;
  font-family: acumin-pro, "“Helvetica Neue”", Helvetica, Arial, sans-serif;
  line-height: 1.32;
  color: rgb(180, 180, 180);
  font-size: 2em;
  margin: 0;
  text-align: center;
  display: inline-block;
}
.video {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  position: relative;
}
video {
  padding-top: 15%;
  clip-path: polygon(0 26%, 100% 14%, 100% 86%, 0 74%);
}
.video > h1 {
  position: absolute;
  margin: 0;
  color: white;
  font-weight: 900;

  font-size: 4em;
  top: 60%;
  left: 20%;
  z-index: 200;
}

.miles {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.miles > h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 900;
  font-family: "Sniglet", cursive;
  padding-left: 4%;
  margin-top: 20px;
  margin-bottom: 200px;
}
.dabba {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 20%;
  width: 18%;
  background: rgb(34, 34, 34);
}
.miles > div > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.5em;
}
.miles > div > ul > li {
  margin: 0;
  padding: 20px;
  border: 2px black solid;
  background: rgb(34, 34, 34);
}
.miles > div > ul > li:last-child {
  margin: 0;
  padding: 20px;
  border: 2px black solid;
  color: rgb(34, 34, 34);
  background: white;
}
.miles > h4 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.last {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  background: #f2f2f2;
  background-size: cover;
  padding-bottom: 20px;
}
.last > div > p {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 2em;
  padding-left: 70px;
  fill: rgb(34, 34, 34);
  color: grey;
}

.last > div > h1 {
  padding: 0;
  margin: 0;
  padding-left: 50px;
  text-align: left;
}
.last > div > h4 {
  padding: 0;
  margin: 0;
  width: 40%;
  color: rgb(180, 180, 180);
  font-size: 2em;
  text-align: left;
  margin-left: 30px;
  padding-left: 20px;
}
.last > div {
  position: relative;
  height: 1000px;
  background: white;
  min-width: 80%;
  padding-top: 100px;
  margin: 0 10px;
}
.last > div > h2 {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  color: black;
  margin-top: 30px;
  width: 70%;
  height: 5%;
}
.date {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 100;
  top: 50;
}
span {
  padding: 0;
  margin: 0;
}
.last > div > img {
  position: absolute;
  top: 100;
  left: 200;
}
.list {
  display: none;
}
.empty {
  min-height: 50%;
  background: url("pic9.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.empty > p {
  opacity: 0;
  padding: 0;
  margin: 0;
  z-index: 20;
}
.footer {
  display: none;
}

/* ///////////////////////////////////////////////////  media //////////////////////////////// */

@media screen and (min-width: 999px) {
  body {
    margin: 0;
    padding: 0;
  }
  .expander {
    display: none;
  }
  * {
    font-family: acumin-pro, "“Helvetica Neue”", Helvetica, Arial, sans-serif;
  }

  /* ================================= nav ============================== */

  .list {
    display: flex;
  }
  li {
    list-style-type: none;
    padding: 5px;
  }
  .list > li:hover {
    background: black;
    color: white;
    border: 1px white solid;
    transform: translate3d(0px, 0px, 50px);
  }

  ul {
    margin-left: 4%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
  }
  .btnnav {
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding: 10px 20px;
    display: inline;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    background: red;
    height: 50%;
    margin-bottom: 0;
    margin-right: auto;
    transition: background 2s;
  }
  .header > h1 {
    font-size: 1em;
    margin-top: 25px;
    margin-bottom: 0px;
    width: 10%;
    margin-left: 5px;
    padding-bottom: 0;
    font-weight: 1900;
    font-family: "Lato", sans-serif;
    margin-bottom: 0;
  }
  .header > img {
    width: 30px;
    height: 30px;
    margin: 60px 60px 30px 0px;
    margin-bottom: 0;
  }
  #logo {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 8%;
    margin-bottom: 20px;
    margin-bottom: 0;
  }
  #bucket {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 25px;
    padding: 9px;
    background: #f2f2f2;
    margin-bottom: 0;
  }
  #expand {
    display: none;
  }
  li {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }

  /* ===================================== banner   ======================================== */

  #one,
  #two {
    visibility: visible;
  }
  .banner {
    background: #f2f2f2;
    padding-top: 30px;
    /* background: url("pic10.jpg") no-repeat; */
    background-size: cover;
    height: 87%;
  }
  #two:hover {
    opacity: 0;
  }
  .banner > img {
    position: relative;
  }
  #one {
    top: -80px;
    transition: opacity 3s ease-in-out;
  }
  #two {
    top: -680px;

    transition: opacity 3s ease-in-out;
  }
  #text {
    src: url("pic10.jpg");
    display: flex;
    position: relative;
    top: -200%;
    left: -100%;
    width: 30%;
    animation: text 2s linear 1s 1 forwards;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes text {
    100% {
      left: 1%;
    }
  }
  .btn {
    position: relative;
    top: -2600px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: red;
    margin-left: 50%;
    padding: 10px 20px;
    color: white;
    transition: background 2s;
  }
  .btnnav:hover {
    background: transparent;
    border: 1px red solid;
    color: red;
  }

  /* ================================= .container =============================== */

  .container {
    background: #f2f2f2;
    width: 100%;
    height: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
  }

  .container > div {
    height: 50%;
    min-width: 25%;
  }
  #first {
    background: url("https://images.ctfassets.net/axbo81ontyws/1xEJ2i6tYQ2wkcGEO2wsuO/cc5697ecf58cd55d4e95fc6ac0e8134b/time-mag-homepage.jpg")
      no-repeat;
    background-clip: border-box;
    background-size: cover;
    padding: 0;
    margin: 40px 20px 20px 10%;
  }

  #second {
    background: url("pic3.jpg") no-repeat;
    background-clip: border-box;
    background-size: cover;
    padding: 0;
    margin: 40 20px 20px 0;
  }
  #third {
    background: url("pic4.jpg") no-repeat;
    background-clip: border-box;
    background-size: cover;
    padding: 0;
    margin: 40 20px 20px 0;
  }
  div h2 {
    visibility: hidden;
    color: white;
    text-align: center;
    color: #f2f2f2;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Thasadith", sans-serif;
    width: 100%;
    height: 58%;
    margin-top: 0;
    transition: visibility 3s;
  }
  .container > div:hover > h2 {
    color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background: rgba(0, 0, 0, 0.4);
    visibility: visible;
  }

  /* =====================================  third ========================= */

  #thirdpic {
    margin-top: 5%;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .third > div {
    width: 40%;
    position: relative;
    left: 50%;
    top: -145;
  }
  .third {
    background: #f2f2f2;
  }
  .third h1 {
    font-family: acumin-pro-extra-condensed, "“Helvetica Neue”", Helvetica,
      Arial, sans-serif;
    color: rgb(34, 34, 34);
    text-align: left;
    font-weight: 600;
    line-height: 1.06;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    width: 90%;
    font-size: 2em;
    margin-left: 50px;
  }

  /* ================================ forth ======================= */

  .forth {
    width: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
  }
  .forth > div {
    border-radius: 25%;
    width: 25%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .forth > div > h1 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 1em;
  }
  h4 {
    color: rgb(34, 34, 34);
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    background: #f2f2f2;
    font-weight: 600;
    line-height: 1.32;
    font-size: 1.25rem;
    text-align: center;
  }

  .forth > div > p {
    font-weight: 400;
    font-family: acumin-pro, "“Helvetica Neue”", Helvetica, Arial, sans-serif;
    line-height: 1.32;
    color: rgb(180, 180, 180);
    font-size: 1em;
    margin: 0;
    text-align: center;
    display: inline-block;
  }

  .forth > div:first-child {
    margin-left: 150px;
  }

  /* ===================================== video ========================== */

  video {
    padding-top: 15%;
    clip-path: polygon(0 26%, 100% 14%, 100% 86%, 0 74%);
  }
  .video > h1 {
    position: absolute;
    margin: 0;
    color: white;
    font-weight: 900;
    font-size: 4em;
    top: 60%;
    left: 20%;
    z-index: 200;
  }
  .video {
    height: 200%;
  }

  /* ============================== miles ======================== */

  .miles {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .miles > h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 900;
    font-family: "Sniglet", cursive;
    padding-left: 32%;
    margin-top: 20px;
  }
  .dabba {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 48%;
    width: 18%;
    background: rgb(34, 34, 34);
  }
  .miles > div > ul {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
  }
  .miles > div > ul > li {
    margin: 0;
    padding: 20px;
    border: 2px black solid;
    background: rgb(34, 34, 34);
  }
  .miles > div > ul > li:last-child {
    margin: 0;
    padding: 20px;
    border: 2px black solid;
    color: rgb(34, 34, 34);
    background: white;
  }
  .miles > h4 {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  /* =================================== last ============================== */

  .empty {
    min-width: 100%;
    min-height: 80%;
    background: url("pic9.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
  }
  .empty > p {
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 20;
  }
  .last {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    opacity: 0.8;
    background: #f2f2f2;
    background-size: cover;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 100px;
  }
  .last > div > p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 10px;
    fill: rgb(31, 19, 19);
    color: grey;
  }

  .last > div > h1 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
  }
  .last > div > h4 {
    padding: 0;
    margin: 0;
    width: 40%;
    color: rgb(180, 180, 180);
    padding-top: 10px;
    font-size: 1em;
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 0;
  }
  .last > div {
    z-index: 90;
    position: relative;
    background: white;
    top: 20;
    min-width: 30%;
    min-height: 800px;
    padding-top: 50px;
    margin-left: 20px;
  }
  .last > div > h2 {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    color: black;
    margin-top: 10px;
    height: 5%;
    font-size: 1em;
  }
  .date {
    position: absolute;
    padding: 0;
    margin: 0;
    color: grey;
    right: 30;
    top: 50;
  }
  span {
    padding: 0;
    margin: 0;
  }
  .last > div > img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 60;
    left: 120;
  }

  /* ============================== footer ========================= */

  .footer {
    margin-left: 200px;
    height: 60%;
    width: 80%;
    display: flex;
  }
  .footer > div > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .footer > div > ul > li {
    width: 100%;
    font-size: 16px;
    padding: 3px 5px;
    font-weight: 400;
    color: #666;
  }
  .footer > div > h1 {
    font-family: "acumin-pro-condensed", “Helvetica Neue”, Helvetica, Arial,
      sans-serif;
    font-size: 1em;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .footer > div {
    width: 50%;
    margin-top: 80px;
  }
}
/* 
@media screen and (min-width: 800px) {
  .btn {
    top: -250px;
    margin-left: 45%;
  }

  #first {
    margin: 40px 20px 20px 5%;
  }

  .third > div {
    width: 50%;
    position: static;
    margin-right: 0;
    padding-right: 0;
  }
  .third h1 {
    font-family: acumin-pro-extra-condensed, "“Helvetica Neue”", Helvetica,
      Arial, sans-serif;
    color: rgb(34, 34, 34);
    text-align: left;
    font-weight: 600;
    line-height: 1.06;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    width: 90%;
    font-size: 2em;
    margin-left: 50px;
  }

  .last > div {
    z-index: 90;
    position: relative;
    background: white;
    top: 20;
    min-width: 40%;
    min-height: 800px;
    padding-top: 50px;
    margin-left: 20px;
  }

  .forth > div {
    width: 30%;
    height: 500px;
  }

  .forth > div:first-child {
    margin-left: 50px;
  }
  .forth > div:last-child > p {
    width: 50%;
  }

  .forth > div > p {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #logo {
    margin-left: 4%;
  }

  .header > h1 {
    margin-right: 0;
    padding-right: 0;
  }
  .btnnav {
    margin-right: 0;
  }
  .footer {
    margin-left: 100px;
    width: 100%;
  }
} */

.ccontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  color: white;
  padding: 20px 90px;
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  top: 150px;
  overflow: hidden;
  cursor: pointer;
}
.btn > span {
  display: block;
  position: relative;
  z-index: 100;
  min-width: 150px;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.btn:before {
  transform: translate3d(-100%, 0, 0);
  background-color: black;
  border: 1px solid bl;

  transition: transform 300ms;
}

.btn:after {
  background-color: #ffd946;
  border: 1px solid #ffd1d8;
  transform: translate3d(100%, 0, 0);

  transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}

.btn:hover:before {
  transform: translate3d(0, 0, 0);
}

.btn:hover:after {
  transform: translate3d(0, 0, 0);
}
